name: CI
on: [push, pull_request]
jobs:
  build:
    name: Build LaTeX
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          sudo apt update || true
          sudo apt --yes --no-install-recommends install texlive texlive-fonts-extra texlive-lang-german texlive-latex-extra texlive-plain-generic latexmk
      - name: Build LaTeX presentation
        run: |
          cd presentation/latex
          latexmk -pdf presentation.tex
      - name: Upload presentation
        uses: actions/upload-artifact@v3
        with:
          name: presentation
          path: presentation/latex/presentation.pdf
      - name: Build report
        run: |
          cd report
          latexmk -pdf report.tex
      - name: Upload report
        uses: actions/upload-artifact@v3
        with:
          name: report
          path: report/report.pdf
      - name: Build thesis
        run: |
          cd thesis
          latexmk -pdf thesis.tex
      - name: Upload thesis
        uses: actions/upload-artifact@v3
        with:
          name: thesis
          path: thesis/thesis.pdf
  build-typst:
    name: Build Typst
    runs-on: ghcr.io/typst/typst:v0.11.1
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Build LaTeX presentation
        run: |
          cd presentation/typst
          typst compile presentation.typ
  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/master' }}
    timeout-minutes: 30
    steps:
      - name: Checkout gh-pages
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: pages
      - name: Install dependencies
        run: |
          sudo apt update || true
          sudo apt --yes --no-install-recommends install ghostscript imagemagick
      - name: Allow PDF conversions
        # FIXME Ubuntu has blocked PDF conversions in ImageMagick for security reasons
        run: |
          sudo sed --in-place '/disable ghostscript format types/,+6d' /etc/ImageMagick-6/policy.xml
      - name: Download presentation
        uses: actions/download-artifact@v3
        with:
          name: presentation
          path: pages
      - name: Download report
        uses: actions/download-artifact@v3
        with:
          name: report
          path: pages
      - name: Download thesis
        uses: actions/download-artifact@v3
        with:
          name: thesis
          path: pages
      - name: Create thumbnails
        run: |
          convert -colorspace sRGB -density 300 -thumbnail 1920x1920 -quality 90 -background white -alpha remove -alpha off 'pages/presentation.pdf[0]' pages/presentation.png
          convert -colorspace sRGB -density 300 -thumbnail 1920x1920 -quality 90 -background white -alpha remove -alpha off 'pages/report.pdf[0]' pages/report.png
          convert -colorspace sRGB -density 300 -thumbnail 1920x1920 -quality 90 -background white -alpha remove -alpha off 'pages/thesis.pdf[0]' pages/thesis.png
          touch pages/.nojekyll
      - name: Commit preview
        run: |
          cd pages
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add --all .
          git commit --amend --reset-author --message='Previews for ${{ github.sha }}'
          git push --force
